# [submodule "dual_arm_data_collection/agilex_teleop"]
# 	path = dual_arm_data_collection/agilex_teleop
# 	url = https://github.com/Key-Zzs/agilex_teleop.git
# 	branch = main 
[submodule "dual_arm_data_collection/lerobot_dual_arm_teleop"]
	path = dual_arm_data_collection/lerobot_dual_arm_teleop
	url = https://github.com/Key-Zzs/dual_arm_teleop.git
	branch = main 
